
body {
  padding-top: 56px;
}

.carousel-item {
  height: 65vh;
  min-height: 300px;
  background: no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.portfolio-item {
  margin-bottom: 30px;
}

.card-header {
    color:rgba(139,195,74,1);
    font-weight: 600;
}

a {
    color: rgba(78,52,46 ,1);

}

.btn-primary {
    color: #fff;
    background-color: rgba(39,174,96 ,1);
    border-color: rgba(46,204,113 ,1);
}

partners {
    display: block;
    margin-left: auto;
    margin-right: auto;
  
}

img parners {
      max-height: 300px;
    max-width: 300px;
}