
@{
    ViewData["Title"] = "Index";
}

<div class="container">
    <div class="jumbotron">
        <h1>Taller MVC y Razor</h1>
        <p>
            Implementacion de Razor junto MVC usando .Net Core 2.3

        </p>
        <p> Luis Carcamo</p>
        <p> Universidad EAN</p>
    </div>

</div>


<div>
    <a asp-action="Usuario"> <button type="button" class="btn btn-outline-primary btn-lg btn-block">Ejercicio #1</button></a>
    <a asp-action="Calificaciones"> <button type="button" class="btn btn-outline-primary btn-lg btn-block">Ejercicio #2</button></a>
